@typeparam TModel
@inherits Wally.RazorComponent.Grid.GridModel<TModel>

<a>GRID!!!</a>
<a>@Options.PageSize</a>

<table>
    <thead>
    <tr>
        @foreach (var column in Options.Columns)
        {
            <th>@column.Caption</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Source.Skip(Page * Options.PageSize).Take(Options.PageSize))
    {
        <tr>
            @foreach (var column in Options.Columns)
            {
                <td>@column.Bind(item)</td>
            }
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td>@Source.Skip(Page * Options.PageSize).Take(Options.PageSize).Count()</td>
    </tr>
    </tfoot>
</table>