@page "/datList"
@inherits Wally.RomMaster.Pages.DatListModel

<h1>Dat List</h1>

<p>The DAT file list:</p>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid TModel="Wally.RomMaster.Models.DatViewModel" Options="@gridOptions" Source="@source" />
}
