@page "/debugger"
@inherits Wally.RomMaster.Pages.DebuggerModel

<h1>Debugger</h1>

<p>This service log messages.</p>

@if (IsLoading)
{
    <p><em>Loading... @Counter</em></p>

    <ul>
        @foreach (var message in Messages.ToArray())
        {
            <li>@message</li>
        }
    </ul>
}
else
{
    <p><em>Loaded.</em></p>
}