@page "/debugger"
@inherits Wally.RomMaster.Pages.DebuggerModel

<h1>Debugger</h1>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}

<ul>
    @foreach (var message in Messages)
    {
        <li>@message</li>
    }
</ul>
