@page "/debugger"
@inherits Wally.RomMaster.Pages.DebuggerModel

<h1>Debugger</h1>

@if (IsLoading)
{
    <p><em>Loading... @Counter</em></p>
}

<ul>
    @foreach (var message in Messages.ToArray())
    {
        <li>@message</li>
    }
</ul>